

<p id="notice"><%= notice %></p>
 
 
<div class="page-header" align="center" id="banner">
<div class="row">
<div class="col-sm-6">

<img src="mskqr.png" width="150" height="150" alt="Mskqr">



<h1>Your Journey to Recovery</h1>
<p class="lead">Welcome, we are here to help prepare you for your big day!  <br><br>The following are the stations you are scheduled to visit to make sure you are safe for surgery. As a thank you, we will provide you an Uber coupon when you have completed your day. If you have trouble at any point, please talk to anyone at the registration desk, or call <a style="color:#ba68c8" href = "https://voice.google.com/"> 555-397-2666</a> and your patient care coordinator will help you with anything!</p>
</div>

<div class="col-sm-6">
<p>


<a href = "#activebookm" style="color:#03a9f4">not completed</a>&nbsp;
<a href = "#completedbookm" style="color:#4caf50">completed</a> &nbsp;//&nbsp; 
<a href = "#forwardbookm" style="color:#009688">What happens after today?</a>

<br>
<a href ="<%= users_path %>" style="color:#222222"> Who am I meeting?</a>
 &nbsp;//&nbsp; 
 <a href = "http://www.wikipedia.com/" style="color:#222222"> Learn more about your surgery >></a>
</p></div>
</div></div>


<div class="row"><p align="center">
	
	7th floor: &nbsp;
	<a class="btn btn-success btn-fab"><i class="material-icons">opacity</i></a>
	<a class="btn btn-success btn-fab"><i class="material-icons">favorite</i></a>
	<a class="btn btn-success btn-fab"><i class="material-icons" >filter_b_and_w</i></a>
	<a class="btn btn-default btn-fab"><i class="material-icons" style="color:#c0c0c0">content_paste</i></a>
	<br>8th floor: &nbsp;
	<a class="btn btn-default btn-fab"><i class="material-icons" style="color:#c0c0c0">beenhere</i></a>
	<a class="btn btn-default btn-fab"><i class="material-icons" style="color:#c0c0c0">leak_add</i></a>
	<a class="btn btn-default btn-fab"><i class="material-icons" style="color:#c0c0c0">healing</i></a>
		<br></p></div>





  
<% allcompletedprojects = @projects.where(complete: true).order(datecreated: :asc) %>


<% allactiveprojects = @projects.where(approved: true).order(datecreated: :desc)%>

<% nextsteps = @projects.where(backlog: true).order(datecreated: :asc)%>


     
 <div class="row" id="activebookm">
     <a href="" class="btn btn-raised btn-info">Not Completed</a>

   </div>

 <div class="row">

<% if allactiveprojects.empty?() %>
	<p>Congrats, you've finished your day!!  Please check out with the PCC on the 8th floor, where you will receive your Uber code.</p>  
 
<% elsif allactiveprojects.empty?() != true %>
 <% allactiveprojects.each do |project|%>
 <% if project.exists %>
  <div class="col-sm-6"> 
  <%= render "project", project: project %>

  </div>
  <% else %>
  <% end %> <!-- closes if exists statement -->
  <% end %> <!-- closes projects loop --> 
  

     
  <% end %>
 </div> 
 
 
 <div class="row" id="completedbookm">
     <a href="" class="btn btn-raised btn-success">Completed</a>
  
   </div>

 <div class="row">

 <% if allcompletedprojects.empty?() != true %>
 <% allcompletedprojects.each do |project|%>
 <% if project.exists %>
  <div class="col-sm-6"> 
  <%= render "project", project: project %>

  </div>
  <% else %>
  <% end %> <!-- closes if exists statement -->
  <% end %> <!-- closes projects loop -->    
  <% end %>
 </div>
    
	
	
	 <div class="row" id="forwardbookm">
	     <a href="" class="btn btn-raised btn-primary">Looking forward</a>

	   </div>

	 <div class="row">

	<% if nextsteps.empty?() != true %>
	 <% nextsteps.each do |project|%>
	 <% if project.exists %>
	  <div class="col-sm-6">
	  <%= render "project", project: project %> 

	  </div>
	  <% else %>
	  <% end %> <!-- closes if exists statement -->
	  <% end %> <!-- closes projects loop -->    
	  <% end %>
	 </div>
    
  
 <!--<%= link_to 'New Project', new_project_path %>-->
